name: Fit my model and submit

on:
  schedule:
    # How often do you want to fit your model? 
    # Public github accounts get 2000 minutes / month 
    # * is a special character in YAML so you have to quote this string
    - cron:  '*/30 * * * *'

defaults:
  run:
    working-directory: ./

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 25

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: checkout
        uses: actions/checkout@v2

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install git+https://github.com/microprediction/microprediction.git
            pip install --upgrade statsmodels
            pip install --upgrade copulas
            pip install matplotlib
      - name: Create data in timestamp2
        run: |
          python fit.py
     
